
#dom{
width: 25%;
    border:50px ; 
    border-radius: 50%;
    background-color:aliceblue;
    display:inline-block;

}
.bttn {
    margin-top: 10px ;
    margin-left: 50px;
    /* background-color: rgb(43, 174, 226); */
    border: none;
    border-radius: 20px;
    width:20px;
    
}

h1{
    text-align: right;
}


